# Analisis estadistico de los dummy datasets de Belcorp

## Analisis de clientes

In [3]:
import pandas as pd
import matplotlib

In [4]:
clientes = pd.read_json('https://belc-hackathon2023.s3.amazonaws.com/clients.json')
clientes

,cod_cliente,cod_pais,fec_creacion,des_nombre_cliente,des_email,fec_modificacion,des_direccion
0,C66Z5,MX,2019-08-04 00:12:22.000,Robinett Nealey,rnealey0@businessinsider.com,2020-03-24 11:05:58.000,
1,C14I8,MX,2018-07-13 00:01:52.000,Sunshine Thornhill,sthornhill1@wired.com,2020-03-24 11:16:38.000,EUCALIPTO 22 B-502
2,C48UJ,CO,2019-04-17 21:36:30.000,Bail O'Mahoney,bomahoney2@digg.com,2020-03-24 11:16:31.000,
3,C5FO3,MX,2019-06-16 01:51:36.000,Marie-jeanne Sherbrook,msherbrook3@163.com,2020-03-24 11:52:36.000,611 / 307 307
4,C2J3E,MX,2018-10-30 20:45:52.000,Enrichetta Di Bartolommeo,edi4@imgur.com,2020-03-24 11:03:55.000,
5,C18SV,PE,2018-07-23 15:29:25.000,Alanson Heaney`,aheaney5@networksolutions.com,2020-03-24 11:59:35.000,
6,C6OD7,MX,2019-08-31 16:50:10.000,Bronnie Patria,bpatria6@time.com,2020-03-24 11:31:19.000,Rincon de caldaro 500
7,C1TIH,MX,2018-08-30 17:44:30.000,Nahum Marmion,nmarmion7@sfgate.com,2020-03-24 12:04:40.000,
8,CI63,PE,2018-05-23 03:09:20.000,Essy Willoughby,ewilloughby8@studiopress.com,2020-03-24 11:55:33.000,
9,C8E4Y,MX,2019-12-28 07:34:41.000,Vincent Swatland,vswatland9@shinystat.com,2020-03-24 11:19:32.000,
10,C8MEE,PE,2020-01-20 06:58:37.000,Mellie Dodridge,mdodridgea@webs.com,2020-03-24 11:46:25.000,Pasaje. 2 de mayo 191 urb. San felipe 1er piso
11,C80VF,PE,2019-12-03 22:55:01.000,Cass Libero,cliberob@elpais.com,2020-03-24 10:49:02.000,
12,C2SWX,PE,2018-11-26 14:34:26.000,Culley Godsafe,cgodsafec@weibo.com,2020-03-24 11:56:37.000,M C - L 21 PISO 2 PROVIV KAMA ITP - SAN MARTIN...
13,C7YXN,PE,2019-12-02 02:35:03.000,Daisey Stainton - Skinn,dstaintond@umn.edu,2020-03-24 11:23:43.000,Calle José Quiñones 337 802
14,C5NID,PE,2019-06-28 00:19:39.000,Cris Hebdon,chebdone@illinois.edu,2020-03-24 11:25:02.000,Av Independencia 1724
15,C8UHZ,MX,2020-02-04 17:13:25.000,Waverly Dearan,wdearanf@nsw.gov.au,2020-03-24 11:06:12.000,
16,C7XQ0,PE,2019-11-28 02:29:15.000,Celestia Nijs,cnijsg@nationalgeographic.com,2020-03-24 12:13:55.000,
17,C8TN3,PE,2020-01-31 13:52:04.000,Seumas Dael,sdaelh@statcounter.com,2020-03-24 11:49:40.000,av elmert faucett 1111111
18,C7LKX,MX,2019-11-05 22:29:13.000,Greta Caffin,gcaffinj@illinois.edu,2020-03-24 12:05:18.000,
19,C4FAZ,PE,2019-05-01 22:37:59.000,Danie Longforth,dlongforthk@census.gov,2020-03-24 12:05:22.000,Psj.Johnny Watson Mz. E Lt 9 La Victoria 00000
20,C6U5Q,MX,2019-09-12 13:33:54.000,Derril Grimsdike,dgrimsdikel@globo.com,2020-03-24 11:31:20.000,Calle 3 123
21,C8QBL,PE,2020-01-26 19:12:04.000,Cristina Coal,ccoalm@unicef.org,2020-03-24 11:31:52.000,Av. Horario Urteaga 1558 D
22,C5L2O,MX,2019-06-22 17:20:06.000,Stesha Gallaher,sgallahern@twitpic.com,2020-03-24 10:56:57.000,
23,C3MOW,PE,2019-02-18 18:43:08.000,Boonie Onele,boneleo@patch.com,2020-03-24 11:10:24.000,
24,C48QJ,MX,2019-04-17 17:58:24.000,Nicola Maccaddie,nmaccaddiep@mashable.com,2020-03-24 11:51:24.000,Dionisio García Fuentes 1719 B
25,C2684,PE,2018-09-30 21:35:50.000,Monty MacNeil,mmacneilq@ed.gov,2020-03-24 10:52:51.000,
26,C2QFK,PE,2018-11-23 04:25:36.000,Curtice Mattheus,cmattheuss@1und1.de,2020-03-24 11:39:41.000,Av. José Olaya 227 vallecito alto San gabriel
27,C48EP,PE,2019-04-17 03:47:34.000,Saw Cherryman,scherrymant@howstuffworks.com,2020-03-24 11:52:05.000,Jr. Enrique Barron 1043 Urb. Santa Beatriz 202
28,CRY1,PE,2018-06-19 04:10:40.000,Corny McQuaid,cmcquaidu@blogger.com,2020-03-24 12:00:13.000,Calle jose quiñones 121 Dpto 04
29,C6LZP,MX,2019-08-28 04:37:56.000,Mariel Polycote,mpolycotev@networkadvertising.org,2020-03-24 11:30:23.000,Playa hornitos 32 6
30,CV1H,PE,2018-06-25 23:34:54.000,Christopher Kahn,ckahnw@t.co,2020-03-24 11:56:17.000,
31,C7LFY,CL,2019-11-05 19:18:55.000,Marylee Saturley,msaturleyy@wikimedia.org,2020-03-24 12:09:33.000,JR INDEPENDENCIA 211
32,CI8S,CL,2018-05-23 14:30:53.000,Fayth Allan,fallanz@usda.gov,2020-03-24 10:46:06.000,
33,C2QBW,CL,2018-11-23 00:52:34.000,Sarette Goolding,sgoolding10@blog.com,2020-03-24 12:05:26.000,Leoncio Prado 1178 surquillo
34,C3WY1,CL,2019-03-20 12:59:18.000,Dom Dyshart,ddyshart11@squidoo.com,2020-03-24 10:53:01.000,
35,C65ZD,CL,2019-08-02 03:19:49.000,Gertie Kelsey,gkelsey13@cargocollective.com,2020-03-24 11:05:42.000,
36,C5Q09,MX,2019-07-03 21:05:17.000,Tilly Vidyapin,tvidyapin14@skype.com,2020-03-24 11:21:29.000,Benito Juarez 501 -B
37,C3167,PE,2018-12-11 02:58:29.000,Jeffrey Birkinshaw,jbirkinshaw15@statcounter.com,2020-03-24 11:39:56.000,Lirios 34no4 34No4
38,C53AX,CO,2019-05-31 06:03:22.000,Cosimo Ashington,cashington16@nyu.edu,2020-03-24 10:50:49.000,
39,C35NL,CO,2018-12-26 03:44:51.000,Jocelin Iacovides,jiacovides17@paginegialle.it,2020-03-24 11:59:23.000,
40,C1XZ7,CO,2018-09-09 19:27:59.000,Darcey Middlewick,dmiddlewick18@ameblo.jp,2020-03-24 11:15:50.000,Av. Faustino Piaggio 184
41,C6XPT,CO,2019-09-18 11:24:16.000,Jameson Cattellion,jcattellion19@flickr.com,2020-03-24 11:46:56.000,Malecón de la Reserva
42,C453O,CO,2019-04-11 04:14:46.000,Edythe Ropkins,eropkins1a@washingtonpost.com,2020-03-24 10:53:06.000,
43,CHD4,PE,2018-05-20 15:08:25.000,Karoly Pendrigh,kpendrigh1b@sakura.ne.jp,2020-03-24 12:18:47.000,Mz H LOTE 23 URB LA PRADERA 2 PISO
44,CI7Z,PE,2018-05-23 13:17:57.000,Coralie Dukelow,cdukelow1c@un.org,2020-03-24 10:53:33.000,
45,C88NR,PE,2019-12-15 20:47:11.000,Lem Petraitis,lpetraitis1d@vk.com,2020-03-24 11:10:47.000,

In [5]:

# Resumen estadístico de datos numéricos
clientes.describe()

,cod_cliente,cod_pais,fec_creacion,des_nombre_cliente,des_email,fec_modificacion,des_direccion
count,46,46,46,46,46,46,46
unique,46,4,46,46,46,46,24
top,C66Z5,PE,2019-08-04 00:12:22.000,Robinett Nealey,rnealey0@businessinsider.com,2020-03-24 11:05:58.000,
freq,1,21,1,1,1,1,23

In [6]:

# Resumen de datos categóricos
clientes.describe(include=['object'])

,cod_cliente,cod_pais,fec_creacion,des_nombre_cliente,des_email,fec_modificacion,des_direccion
count,46,46,46,46,46,46,46
unique,46,4,46,46,46,46,24
top,C66Z5,PE,2019-08-04 00:12:22.000,Robinett Nealey,rnealey0@businessinsider.com,2020-03-24 11:05:58.000,
freq,1,21,1,1,1,1,23

In [7]:
# Cantidad de clientes por país
clientes_por_pais = clientes['cod_pais'].value_counts()

clientes_por_pais

cod_pais
PE    21
MX    14
CO     6
CL     5
Name: count, dtype: int64

In [8]:
# Calcular la antigüedad del cliente (en días) desde la creación hasta la última modificación
clientes['antiguedad'] = (pd.to_datetime(clientes['fec_modificacion']) - pd.to_datetime(clientes['fec_creacion'])).dt.days
clientes['antiguedad'].describe()

count     46.000000
mean     345.673913
std      202.253312
min       48.000000
25%      189.250000
50%      334.000000
75%      504.250000
max      673.000000
Name: antiguedad, dtype: float64

## Analisis de Consultoras

In [10]:
consultoras = pd.read_json('https://belc-hackathon2023.s3.amazonaws.com/consultants.json')
consultoras

,codpais,codebelista,desnombre,desapepaterno,docidentidad,tipodocidentidad,desestadocivil,desdireccion,aniocampanaingreso,fechanacimiento,fecharegistro
0,CL,41520-182,Zorana,Streight,106678508,1,Casado(a),. CALLE 5TA TRANSVERSAL 000000,202301,1965-07-23 00:00:00.000,2023-08-22 12:34:56.789
1,PE,12345-678,Luisa,González,78901234,2,Soltero(a),AV. PRINCIPAL 123,202302,1988-03-15 00:00:00.000,2023-07-15 09:21:34.567
2,CO,98765-432,Carlos,Martínez,56789012,1,Soltero(a),CRA. 18 # 45-67,202303,1992-11-02 00:00:00.000,2023-06-30 15:45:23.123
3,MX,54321-987,Ana,Hernández,34567890,2,Casado(a),BLVD. JUAREZ 789,202304,1985-09-10 00:00:00.000,2023-05-20 18:12:45.678
4,CL,78654-321,Martín,López,12345678,1,Soltero(a),LOS ROSALES 456,202305,1990-01-30 00:00:00.000,2023-04-10 10:05:15.432
...,...,...,...,...,...,...,...,...,...,...,...
88,CL,43210-987,Isabella,Silva,90123456,2,Casado(a),AV. LAS MERCEDES 123,202313,2025-07-25 00:00:00.000,2021-08-10 16:15:20.321
89,EC,67890-123,Matías,García,34567890,1,Soltero(a),URB. LA FLORESTA MZ. 6,202314,2026-10-10 00:00:00.000,2021-07-05 15:30:25.210
90,DO,89012-345,Valeria,Gómez,45678901,2,Casado(a),CARR. LA VEGA KM. 20,202315,2027-01-28 00:00:00.000,2021-06-01 14:15:20.109
91,PA,56789-012,Benjamín,Díaz,90123456,1,Soltero(a),CALLE 10 ESTE 567,202316,2028-04-10 00:00:00.000,2021-05-10 13:05:15.987
92,PE,90123-456,Valentina,Ramírez,67890123,1,Casado(a),AV. LOS ALAMOS 567,202316,2028-04-10 00:00:00.000,2021-05-10 13:05:15.987

In [11]:
# Resumen estadístico de datos numéricos
consultoras.describe()

       docidentidad  tipodocidentidad  aniocampanaingreso
count  9.300000e+01         93.000000           93.000000
mean   6.827727e+07          1.440860       202257.763441
std    2.240672e+07          0.499181           49.666584
min    1.234568e+07          1.000000       202201.000000
25%    4.567890e+07          1.000000       202208.000000
50%    7.890123e+07          1.000000       202301.000000
75%    8.901234e+07          2.000000       202306.000000
max    1.066785e+08          2.000000       202316.000000

In [12]:
# Resumen de datos categóricos
consultoras.describe(include=['object'])

,codpais,codebelista,desnombre,desapepaterno,desestadocivil,desdireccion,fechanacimiento,fecharegistro
count,93,93,93,93,93,93,92,93
unique,7,16,53,19,2,88,89,89
top,CL,56789-012,Lucas,García,Casado(a),BLVD. JUAREZ 789,2028-04-10 00:00:00.000,2021-05-10 13:05:15.987
freq,14,12,5,15,52,2,2,2

In [18]:
from datetime import datetime

# Convertir fechanacimiento a tipo datetime y calcular la edad
consultoras['fechanacimiento'] = pd.to_datetime(consultoras['fechanacimiento'])
consultoras['edad'] = (datetime.now() - consultoras['fechanacimiento']).dt.days // 365

# Mostrar el DataFrame completo con la columna de edad
consultoras.describe()
#Edad mas alta de 25, promedio 40 años

,docidentidad,tipodocidentidad,aniocampanaingreso,fechanacimiento,edad
count,9.300000e+01,93.000000,93.000000,92,92.000000
mean,6.827727e+07,1.440860,202257.763441,1999-07-20 20:52:10.434782592,24.826087
min,1.234568e+07,1.000000,202201.000000,1965-07-23 00:00:00,-4.000000
25%,4.567890e+07,1.000000,202208.000000,1990-07-29 18:00:00,16.000000
50%,7.890123e+07,1.000000,202301.000000,1997-05-25 12:00:00,27.000000
75%,8.901234e+07,2.000000,202306.000000,2008-05-18 00:00:00,34.000000
max,1.066785e+08,2.000000,202316.000000,2028-04-10 00:00:00,59.000000
std,2.240672e+07,0.499181,49.666584,NaN,13.864817

In [24]:

# Calcular antigüedad desde el registro
consultoras['fecharegistro'] = pd.to_datetime(consultoras['fecharegistro'])
consultoras['antiguedad_dias'] = (datetime.now() - consultoras['fecharegistro']).dt.days
consultoras.describe()
#Promedio de antiguedad 18 meses

,docidentidad,tipodocidentidad,aniocampanaingreso,fechanacimiento,fecharegistro,edad,antiguedad_dias
count,9.300000e+01,93.000000,93.000000,92,93,92.000000,93.000000
mean,6.827727e+07,1.440860,202257.763441,1999-07-20 20:52:10.434782592,2021-06-20 13:17:02.795988992,24.826087,1230.827957
min,1.234568e+07,1.000000,202201.000000,1965-07-23 00:00:00,2018-07-10 14:15:20.987000,-4.000000,438.000000
25%,4.567890e+07,1.000000,202208.000000,1990-07-29 18:00:00,2020-05-01 17:20:30.432000,16.000000,788.000000
50%,7.890123e+07,1.000000,202301.000000,1997-05-25 12:00:00,2021-10-05 08:35:40.543000064,27.000000,1124.000000
75%,8.901234e+07,2.000000,202306.000000,2008-05-18 00:00:00,2022-09-05 18:59:48.654000128,34.000000,1645.000000
max,1.066785e+08,2.000000,202316.000000,2028-04-10 00:00:00,2023-08-22 12:34:56.789000,59.000000,2307.000000
std,2.240672e+07,0.499181,49.666584,NaN,NaN,13.864817,534.703242

In [28]:

# Distribución de consultoras por país
consultoras_por_pais = consultoras['codpais'].value_counts()
consultoras_por_pais
#Colombia es la que tiene mas consultoras
#2 peru
#3 mexico

codpais
CL    14
PE    14
CO    13
MX    13
EC    13
DO    13
PA    13
Name: count, dtype: int64

## Analisis de productos

In [30]:
productos = pd.read_json('https://belc-hackathon2023.s3.amazonaws.com/products.json')
productos

,codsap,desproducto,desunidadnegocio,desmarca,descategoria,desgrupoarticulo,desclase,largo,ancho,volumen,pesobruto
0,200111234,ES TAC SUERO MULTIB 28ML,COSMETICOS,ESIKA,TRATAMIENTO FACIAL,TRATAMIENTO FACIAL,TRATAMIENTO FACIAL,41,41,182,142
1,200098377,ES KROMO BLACK PARF 90 ML,COSMETICOS,ESIKA,FRAGANCIAS,FRAGANCIAS,FRAGANCIAS,100,44,449,328
2,200107850,LB CONCE TO SUERO AH TER 30ML,COSMETICOS,LBEL,TRATAMIENTO FACIAL,TRATAMIENTO FACIAL,TRATAMIENTO FACIAL,42,42,212,130
3,210100407,CZ TRAX DES MAKEOUT CC 103G,COSMETICOS,CYZONE,CUIDADO PERSONAL,CUIDADO PERSONAL,CUIDADO PERSONAL,53,53,406,207
4,200092025,CZ MISEXY PROVO COLONIA 200 ML,COSMETICOS,CYZONE,FRAGANCIAS,FRAGANCIAS,FRAGANCIAS,42,42,379,217
...,...,...,...,...,...,...,...,...,...,...,...
195,210100408,CZ TRAX DES SO CLOSE CC 103G,COSMETICOS,CYZONE,CUIDADO PERSONAL,CUIDADO PERSONAL,CUIDADO PERSONAL,53,53,406,207
196,200092333,CZ AINNARA EDP 50 ML,COSMETICOS,CYZONE,FRAGANCIAS,FRAGANCIAS,FRAGANCIAS,53,71,425,190
197,200106398,ES COLORS PURPBERRY COL 200ML,COSMETICOS,ESIKA,FRAGANCIAS,FRAGANCIAS,FRAGANCIAS,46,46,402,228
198,200106279,ES COLORS GOLDVANIL COL 200 ML,COSMETICOS,ESIKA,FRAGANCIAS,FRAGANCIAS,FRAGANCIAS,46,46,402,228
199,200104391,LB MITHYKA LOC PERF CC 160 ML,COSMETICOS,LBEL,TRATAMIENTO CORPORAL,TRATAMIENTO CORPORAL,TRATAMIENTO CORPORAL,80,50,640,199

### ¿Cómo les mostramos los datos financieros?

### Promedio de pedidos 330.000 pesos (70 USD)

### Promedio de unidades faltantes por pedido 0.009

### Numero de transacciones 16.779.000

### 115.000 transacciones por pedido

##